body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, #b2d0f6, #FAFCFF);
}

.element-item {
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.card-image {
    width: 80%;
    height: 80%;
}

.card-name {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
}

.card-price {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.update-date {
    color: #9b9999;
    font-size: 1rem;
}

.card-description {
    font-size: 1rem;
    padding: 0 15px;
}

.card-button {
    border: 1px solid #2691d9;
    border-radius: 20px;
    padding: 12px;
    color: #2691d9;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    width: 20%;
    margin: 0 2%;
}

.card button:hover {
    opacity: 0.7;
    transition: .5s;
}

#buttons-column {
    width: 100%;
}

#add-button {
    background: #2691d9;
    color: white;
}