body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #b2d0f6, #FAFCFF);
}

.items-grid-view {
    height: 800px;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    scroll-behavior: smooth;
}

.element-item {
    margin: 5%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    transition: 1s all ease-in-out;
}

.element-item:hover {
    transition: .5s;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.card-image {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-name {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
}

.card-price {
    color: grey;
    font-size: 1.3rem;
}

.card-description {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1rem;
}

.card-button-detail {
    border: 1px solid #FA8072;
    border-radius: 20px;
    padding: 12px;
    color: #FA8072;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 1rem;
}

.card-button-add {
    border: 1px solid #2691d9;
    border-radius: 20px;
    padding: 12px;
    color: #2691d9;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 1rem;
}

.card button:hover {
    opacity: 0.7;
}

.scrollButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px 7px;
    background: #fff;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #2691d9;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollButton:hover {
    border: 2px solid #2691d9;
}