body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, #b2d0f6, #FAFCFF);
}

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: white;
    border-radius: 10px;
}

.register-container h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: #2691d9;
}

.register-container form {
    padding: 0 40px;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.register-container form .column {
    float: left;
    width: 50%;
}

.register-container form .txt-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px;
}

.register-container form .txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}

.register-container form .txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: .5s;
}

.register-container form .txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.register-container form input:focus ~ label,
.register-container form input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.register-container form input:focus ~ span::before,
.register-container form input:valid ~ span::before {
    width: 100%;
}


.buttons-column {
    width: 100%;
    display: flex;
    justify-content: end;
}

.button {
    text-align: center;
    float: right;
    margin: 3%;
}

.register-button {
    float: right;
    width: 110px;
    height: 50px;
    border: 1px solid;
    background: #58D68D;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.register-button:hover {
    border-color: #51c481;
    transition: .5s;
}

.cancel-button {
    float: left;
    width: 110px;
    height: 50px;
    border: 1px solid #8c8a8a;
    color: #8c8a8a;
    background: white;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.cancel-button:hover {
    border: 2px solid #8c8a8a;
    transition: .5s;
}